<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sinatra Sample</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=9" /> 
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="list-group">
        <a class="list-group-item" href="/signup">Sign up</a>
    </li>
    <li>
        <a class="list-group-item" href="/signin">Sign in</a>
    </li>
</ul>
<div class="container">  
	<%= yield %>
</div>
 
</body>
</html>
